.timer-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.timer-value {
  font-size: 22px;
  font-weight: bold;
  color: #ff4d4d;
}
